<script>
    import { onMount } from 'svelte';
     import { goto } from '$app/navigation';

    let messageRooms = [];
    let newRoomName = '';
    let joinRoomId = null
    let errors = []

    onMount(async () => {
        await fetchMessageRooms();
    });

    async function fetchMessageRooms() {
        const token = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')).jwt : null;
        try {
            const response = await fetch('http://localhost:8080/message_rooms', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }); 
            const data = await response.json();
            messageRooms = data;
        } catch (error) {
            errors = `Error fetching message rooms: ${error}`;
        }
    }

    function navigateToRoom(roomId) {
        goto(`/chatrooms/${roomId}`);
    }

   async function joinMessageRoom() {
        const token = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')).jwt : null;

        try {
            const response = await fetch('http://localhost:8080/message_rooms/join', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ id: joinRoomId })
            });

            if (response.ok) {
                joinRoomId = null;
                await fetchMessageRooms(); 
            } else {
                errors = `Error joining message room: ${await response.text()}`;
            }
        } catch (error) {
            errors = `Error joining message room: ${error}`;
        }
    }
   async function createMessageRoom() {
        const token = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')).jwt : null;

        try {
            const response = await fetch('http://localhost:8080/message_rooms', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ name: newRoomName })
            });

            if (response.ok) {
                newRoomName = '';
                await fetchMessageRooms(); 
            } else {
                errors = `Error creating message room: ${await response.text()}`;
            }
        } catch (error) {
            errors = `Error creating message room: ${error}`;
        }
    }

    function formatTimestamp(timestamp) {
        const date = new Date(timestamp);
        return date.toLocaleString();
    }
</script>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<h1>Chatrooms</h1>

{#if errors}
    <span class="error">{errors}</span>
{/if}
<br>
<form on:submit|preventDefault={joinMessageRoom}>
    <label for="roomName">MessageRoomId:</label>
    <input id="roomName" type="number" bind:value={joinRoomId} required />
    <button type="submit">Join Room</button>
</form>

{#if messageRooms.length > 0}
    <table>
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Room Name</th>
                <th>User IDs</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
            {#each messageRooms as room}
                <tr on:click={() => navigateToRoom(room.messageRoom.id)}>
                    <td>{room.messageRoom.id}</td>
                    <td>{room.messageRoom.name}</td>
                    <td>
                        {#each room.messageRoomUser as user}
                            {user.userId}{user !== room.messageRoomUser[room.messageRoomUser.length - 1] ? ', ' : ''}
                        {/each}
                    </td>
                    <td>
                        {#if room.messages.length > 0}
                            <ul>
                                {#each room.messages as message}
                                    <li>
                                        <strong>ID:</strong> {message.id}, 
                                        <strong>Sender ID:</strong> {message.senderId}, 
                                        <strong>Content:</strong> {message.content}, 
                                        <strong>Timestamp:</strong> {formatTimestamp(message.timestamp)}
                                    </li>
                                {/each}
                            </ul>
                        {:else}
                            No messages
                        {/if}
                    </td>
                </tr>
            {/each}
        </tbody>
    </table>
{:else}
    <p>Loading message rooms...</p>
{/if}

<form on:submit|preventDefault={createMessageRoom}>
    <label for="roomName">New Message Room Name:</label>
    <input id="roomName" type="text" bind:value={newRoomName} required />
    <button type="submit">Create Room</button>
</form>
