<script>
    import user from '../../user'
    let username = ''
    let password = ''
    let errors
    const signInUser = async () => {
        return fetch('http://localhost:8080/users/sign_in', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({username: username, password: password})
        })
    }

    const handleSubmit = async () => {
        signInUser().then((response) => {
            if (!response.ok) {
                throw response;
            } 

             return response.json()
        }).then((userResponse) => {
            user.set(userResponse)
            localStorage.setItem("user", JSON.stringify(userResponse))
            window.location.href = '/'
        }).catch(async error => {
            let errorResponse = await error.json()
            errors = errorResponse.error;
        })
    }
</script>

<form method="POST" on:submit|preventDefault={handleSubmit}>
    {#if errors}
        <span class="error">{errors}</span>
    {/if}
    <br>
    <label>
    Username
    <input name="username" type="text" required bind:value={username}>
    </label>
    <br>
    <label>
    Password
    <input name="password" type="password" required bind:value={password}>
    </label>
    <br>
    <button>Sign in</button>
</form>
