<script>
    import { onMount, onDestroy } from 'svelte';
    import { page } from '$app/stores';

    $: console.log($page);
    // Subscribe to the `page` store to get the `id` parameter
    $: roomId = $page.params.id
  
    let messageRoom = {
        "messageRoom": {
            "id": roomId,
            "name": "Loading..."
        },
        "messageRoomUser": [],
        "messages": []
    };
    let newMessage = '';
    let socket;
    let errors;
   
    onMount(async () => {
        let token = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')).jwt : null;
        if (!token) {
            console.error('No JWT token found in localStorage');
            return;
        }

        await fetchMessageRoom(roomId)

        socket = new WebSocket(`ws://localhost:8080/connect/${roomId}?token=${token}`);
        
        socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            if (data.messageRoom.id === messageRoom.messageRoom.id) {
                messageRoom = data;
            }
        };

        socket.onopen = () => {
            console.log('WebSocket connection opened');
        };

        socket.onclose = () => {
            console.log('WebSocket connection closed');
        };

        socket.onerror = (error) => {
            console.error('WebSocket error:', error);
        };
    });

    onDestroy(() => {
        if (socket) {
            socket.close();
        }
    });

    function sendMessage() {
        if (newMessage.trim() === '') return;

        socket.send(newMessage);
        newMessage = '';
    }

    function formatTimestamp(timestamp) {
        const date = new Date(timestamp);
        return date.toLocaleString();
    }

    async function fetchMessageRoom(id) {
        const token = localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')).jwt : null;
        try {
            const response = await fetch(`http://localhost:8080/message_rooms/${id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }); 
            const data = await response.json();
            messageRoom = data;
        } catch (error) {
            errors = `Error fetching message rooms: ${error}`;
        }
    }

</script>

<style>
    .messages {
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
    }
    .message {
        margin-bottom: 10px;
    }
    form {
        display: flex;
    }
    input[type="text"] {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ddd;
    }
    button {
        padding: 10px 20px;
    }
</style>

<h1>Message Room: {messageRoom.messageRoom.name}</h1>

<div class="messages">
    {#each messageRoom.messages as message}
        <div class="message">
            <strong>Sender ID:</strong> {message.senderId}, 
            <strong>Content:</strong> {message.content}, 
            <strong>Timestamp:</strong> {formatTimestamp(message.timestamp)}
        </div>
    {/each}
</div>

<form on:submit|preventDefault={sendMessage}>
    <input type="text" bind:value={newMessage} placeholder="Type your message..." required />
    <button type="submit">Send</button>
</form>
